body {background:#93B0E3;}

main {max-width:1080px;padding:20px;margin-left:auto;margin-right:auto;min-height:500px;background:#25A5C4;}

h1 {
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 70px;
    line-height: 100px;
    color:white;
}

p {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color:white;
    margin-left:22px;
}

ul, ul li a {
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    color:white;
    list-style-type:none;
    text-decoration:none;
}

nav {text-align: center;max-width:1040px;}

nav ul li {display:inline;font-size:16px;padding:24px;}


footer {margin-bottom:0px;}